.group-container {
  .group-card {
    .member-list {
      list-style: none;
      padding-left: 10px;
    }

    .header-col {
      padding-left: 115px;
    }

    @media screen and (max-width: 600px) {
      .header-col {
        padding-left: 0px;
      }

      h3 {
        font-size: larger;
        margin: 5px 0px;
      }
    }

    .dropdown-col {
      max-width: 100px;

      .dropdown-toggle {
        background: none;
        border: none;
        padding: 0;
      }

      .dropdown-toggle:hover {
        opacity: 0.5;
      }

      // .dropdown-toggle:focus {
      //   box-shadow: none;
      // }
    }

    .a-user {
      color: black;
    }

    .a-user:hover {
      color: blue;
      text-decoration: none;
    }

    .dropdown-toggle::after {
      display: none;
    }
  }

  .add-group-card {
    max-width: 500px;
  }
}
