.App {
  padding-top: calc(76px + 5vh);
  height: 100vh;
}

.modal-dialog {
  margin-top: 15vh;
}

.card {
  box-shadow: 0px 0px 5px lightgray;
  margin-bottom: 5vh;
}

.card-title {
  text-align: center;
}

.main-content {
  max-width: 1200px;
  margin: 0px auto;
  padding: 0px 20px;
}
