.header {
  position: fixed;
  background: rgb(40, 44, 52);
  height: 76px;
  width: 100%;
  top: 0;
  z-index: 1000;
}

.navbar {
  color: white;
  background: rgb(40, 44, 52);
  max-width: 1390px;
  margin: auto;
  padding-top: 10px;
  padding-bottom: 10px;
}

.navbar-collapse {
  margin-left: auto;
}

.brand:hover {
  cursor: pointer;
}
